/* Tiramisu - A JavaScript μFramework CSS */

/* Font-face section */
@font-face {
    font-family: 'DancingScript';
    src: url('fonts/DancingScript-Regular-webfont.eot');
    src: url('fonts/DancingScript-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/DancingScript-Regular-webfont.woff') format('woff'),
         url('fonts/DancingScript-Regular-webfont.ttf') format('truetype'),
         url('fonts/DancingScript-Regular-webfont.svg#DancingScriptOTRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Classes Section */
h1.dancing { 
    font: 100px 'DancingScript', Arial, sans-serif;
    letter-spacing: 0;
}

.logo {
    text-align: center;
}

/* Header Section */
#header {
	height: 470px;
	background-color: #b6c66e;
	padding: 30px 0;
}